# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PyUntis-related stuff
teachers*.json
!teachers_example.json
config.json
generate_plan.sh
old/
.DS_Store
